.home-page-tag-buttons {
    line-height: 27px;
    font-weight: 600;
    color: $white;
    padding-top: 24px;
    margin-bottom: 220px;
    width: 650px;
    display: flex;
    gap: 10px;
    ;
    button {
        transition: 0.35s ease;
        @include btnWhiteTrans;
        font-size: 14px;
        z-index: 1;
    }
    button:hover {
        color: $flc;
        border-color: transparent;
        background-color: $white;
    }
}

@media (max-width: 900px) {
    .home-page-tag-buttons {
        display: none;
        
    }
    
}