.home-page-category-image-wrapper {
    display: flex;
    position: inherit;
    height: 345px;
    width: 100%;
    margin-block-end: 40px;
    //transition: opacity .3s ease-in-out;
    & img {
        border-radius: 4px;
        // max-width: 239px;
        width: 239px;
        object-fit: cover;
        height: 345px;
        cursor: pointer;
    }
}

.home-page-category-image-wrapper:hover {
    opacity: 0.85;
}

.home-page-category-text-container {
    position: absolute;
    color: $white;
    padding: 16px;
    & h4 {
        font-size: 14px;
        font-weight: 900;
    }
    & h2 {
        color: $white;
        font-size: 24px;
    }
}

@media (max-width: 1240px) {
    .home-page-category-list li:nth-child(5) {
        display: none;
    }
    .home-page-category-image-wrapper {
        min-width: 221px;
        max-width: 262px;
    }
}

@media (max-width: 1060px) {
    .home-page-category-list li:nth-child(4) {
        display: none;
    }
    .home-page-category-image-wrapper {
        min-width: 229px;
        max-width: 302px;
    }
}

@media (max-width: 800px) {
    .home-page-category-list li:nth-child(3) {
        display: none;
    }
    .home-page-category-image-wrapper {
        min-width: 254px;
        max-width: 352px;
        & img {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .home-page-category-list li:nth-child(2) {
        display: none;
    }
    .home-page-category-image-wrapper {
        min-width: 330px;
        max-width: 536px;
    }
    & img {
        width: 100%;
    }
}