// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }
.category-left-enter-active {
    animation: leftInAnimation 0.4s ease-in-out;
}

;
.category-left-leave-active {
    animation: leftOutAnimation 0.4s ease-in-out;
}

.category-right-enter-active {
    animation: rightInAnimation 0.4s ease-in-out;
}

;
.category-right-leave-active {
    animation: righttOutAnimation 0.4s ease-in-out;
}

;
@keyframes leftInAnimation {
    from {
        transform: translateX(100%);
        //` opacity: 1;
    }
    to {
        transform: translateX(0);
        //opacity: 0;
    }
}

@keyframes leftOutAnimation {
    from {
        transform: translateX(0);
        //opacity: 0;
    }
    to {
        transform: translateX(-100%);
        //opacity: 1;
    }
}

@keyframes rightInAnimation {
    from {
        transform: translateX(-100%);
        //` opacity: 1;
    }
    to {
        transform: translateX(0);
        //opacity: 0;
    }
}

@keyframes rightOutAnimation {
    from {
        transform: translateX(0);
        //opacity: 0;
    }
    to {
        transform: translateX(+100%);
        //opacity: 1;
    }
}

// .carousel-slide {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }
.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.hp-category-list {
    position: relative;
    & .home-page-category-before-btn {
        overflow: visible;
        background-color: $white;
        position: absolute;
        // margin-block-start: 23px;
        z-index: 4;
        top: 36%;
        width: 48px;
        height: 48px;
        text-align: center;
        border: 0;
        font-size: 25px;
        border-radius: 30px;
        box-shadow: 0px 14px 29px -1px rgba(0, 0, 0, 0.23);
    }
    & .home-page-category-next-btn {
        overflow: visible;
        background-color: $white;
        position: absolute;
        z-index: 4;
        top: 36%;
        width: 48px;
        height: 48px;
        text-align: center;
        border: 0;
        font-size: 25px;
        border-radius: 30px;
        box-shadow: 0px 14px 29px -1px rgba(0, 0, 0, 0.23);
    }
}

.home-page-category-list {
    // animation: fadeIn 3s;
    display: flex;
    overflow: hidden;
    padding: 0;
    flex-wrap: nowrap;
    gap: 34px;
    list-style-type: none;
    justify-content: space-between;
}

// @media (max-width: 1060px) {
//     .home-page-category-list {
//         max-width: 980px;
//         min-width: 721px;
//     }
// }

@media (max-width: 3400px){
    .home-page-category-before-btn{
        left: -1.8%;
    }
    .home-page-category-next-btn{
        right: -1.8%;
    }
}


@media (max-width: 400px){
    .home-page-category-before-btn{
        left: -8.8%;
    }
    .home-page-category-next-btn{
        right: -8.8%;
    }
}