  //fonts
  // @import '../fonts/Nunito_Sans/NunitoSans-Regular.ttf';
  @font-face {
      font-family: Nunito_Sans;
      src: url(../fonts/Nunito_Sans/NunitoSans-Bold.ttf);
  }
  
  @font-face {
      font-family: Nunito_Sans_regular;
      src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
  }
  
  * {
      box-sizing: border-box;
  }
  
  html,
  button,
  span {
      scroll-behavior: smooth;
      font-family: Nunito_Sans_regular;
  }
  
  body {
      margin: 0;
      width: 100%;
  }
  
  img {
      width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin: 0;
  }
  
  button,
  textarea,
  a {
      cursor: pointer;
  }
  
  input {
      cursor: text;
  }