// FIVVER HEADER COLORS
$fgc: #1dbf73; // fiverr green color
$flc: #404145; // fiverr logo color
$fnc: #7b7e86; // fiverr nav color
$ftc: #62646a; // fiverr text color
$ftc2: #d5d4d2; // fiverr text color
$fbc: #e4e5e7; // fiverr border color
$fsc: #b5b6ba; // fiverr symbol color
$fmc: #023a15; // fiverr background search homepage mobile color
// 
$white: #fff;
// LAYOUTS
$main-layout: 1400px;